In [1]:
import pandas as pd 
from pytrends.request import TrendReq
from datetime import datetime

In [2]:
# hl specifies host language for accessing Google Trends, tz is Timezone offset, 360 is for US CST.
pytrends = TrendReq(hl='en-US', tz=360)

In [4]:
kw_list = ["Bitcoin"]

In [24]:
df = pytrends.get_historical_interest(kw_list, year_start=2022, month_start=1, day_start=1, year_end=2022, month_end=9, day_end=15, geo='', frequency="daily")

/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:611: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)

In [18]:
df.head(30)

            Bitcoin  isPartial
date
2022-01-01       27      False
2022-01-02       28      False
2022-01-03       31      False
2022-01-04       30      False
2022-01-05       34      False
2022-01-06       50      False
2022-01-07       53      False
2022-01-08       43      False
2022-01-09       39      False
2022-01-10       44      False
2022-01-11       42      False
2022-01-12       34      False
2022-01-13       37      False
2022-01-14       34      False
2022-01-15       29      False
2022-01-16       29      False
2022-01-17       38      False
2022-01-18       40      False
2022-01-19       35      False
2022-01-20       32      False
2022-01-21       72      False
2022-01-22       81      False
2022-01-23       58      False
2022-01-24       75      False
2022-01-25       62      False
2022-01-26       51      False
2022-01-27       47      False
2022-01-28       44      False
2022-01-29       36      False
2022-01-30       32      False

In [25]:
geo = {
    "China": "CN",
    "Canada": "CA",
    "United States": "US",
    "Global": ''
}

In [27]:
def collect_bitcoin_trends(search_range='', start_time="2015-01-01", kw_list=["Bitcoin"]):
    now = datetime.now()
    start_y, start_m, start_d = [int(item) for item in start_time.split("-")]
    df = pytrends.get_historical_interest(kw_list, year_start=start_y, month_start=start_m, day_start=start_d, year_end=now.year, month_end=now.month, day_end=now.day, geo=search_range, frequency="daily")
    return df

In [28]:
df = collect_bitcoin_trends()

/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:589: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)
/Users/hongyuan/personal_project/dev/google_trends/google_trends_venv/lib/python3.8/site-packages/pytrends/request.py:611: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(week_df)

In [29]:
df

            Bitcoin  isPartial
date
2015-01-01       29      False
2015-01-02       29      False
2015-01-03       31      False
2015-01-04       41      False
2015-01-05       45      False
...             ...        ...
2022-09-07       75      False
2022-09-08       58      False
2022-09-09       62      False
2022-09-10       50      False
2022-09-11       48      False

[2822 rows x 2 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2822 entries, 2015-01-01 to 2022-09-11
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bitcoin    2822 non-null   int64
 1   isPartial  2822 non-null   bool
dtypes: bool(1), int64(1)
memory usage: 46.8 KB

# From 2015-01-01 to 2022-09-11, there are 2811 days. But API returns me 2822 rows of data.
# Why do we have 11 rows more?

In [31]:
# df.to_csv('example.csv')

# By looking into the data, I found duplicated data with the same date index.

In [32]:
# remove the rows with duplicated index
new_df = df[~df.index.duplicated(keep='first')]

In [33]:
new_df

            Bitcoin  isPartial
date
2015-01-01       29      False
2015-01-02       29      False
2015-01-03       31      False
2015-01-04       41      False
2015-01-05       45      False
...             ...        ...
2022-09-07       75      False
2022-09-08       58      False
2022-09-09       62      False
2022-09-10       50      False
2022-09-11       48      False

[2811 rows x 2 columns]

In [34]:
new_df.to_csv('bitcoin_daily_trends_data.csv')

In [35]:
len(new_df.index)

2811

In [40]:
def generate_bitcoin_weekly_trends_data(daily_data):
    daily_data_2 = daily_data.loc[:, ['Bitcoin']]
    daily_data_2['Date'] = pd.to_datetime(daily_data.index, format="%Y%m%d")
    logic = {'Bitcoin': 'mean',
             'Date': 'first',
             }
    weekly_data = daily_data_2.groupby([daily_data_2['Date'].dt.isocalendar().year, daily_data_2['Date'].dt.isocalendar().week]).agg(logic)
    weekly_data.set_index('Date', inplace=True)
    weekly_data['Bitcoin'] = weekly_data['Bitcoin'].map(lambda x: '{0:.2f}'.format(x))
    weekly_data.to_csv('bitcoin_weekly_trends_data.csv')

In [41]:
generate_bitcoin_weekly_trends_data(new_df)

In [42]:
new_df_2 = new_df.loc[:, ['Bitcoin']]

In [43]:
new_df_2

            Bitcoin
date
2015-01-01       29
2015-01-02       29
2015-01-03       31
2015-01-04       41
2015-01-05       45
...             ...
2022-09-07       75
2022-09-08       58
2022-09-09       62
2022-09-10       50
2022-09-11       48

[2811 rows x 1 columns]

In [44]:
new_df_2['Date'] = pd.to_datetime(new_df.index, format="%Y%m%d")
new_df_2

            Bitcoin       Date
date
2015-01-01       29 2015-01-01
2015-01-02       29 2015-01-02
2015-01-03       31 2015-01-03
2015-01-04       41 2015-01-04
2015-01-05       45 2015-01-05
...             ...        ...
2022-09-07       75 2022-09-07
2022-09-08       58 2022-09-08
2022-09-09       62 2022-09-09
2022-09-10       50 2022-09-10
2022-09-11       48 2022-09-11

[2811 rows x 2 columns]

In [45]:
logic = {
    'Bitcoin': 'mean',
    'Date': 'first',
}

In [51]:
weekly_data = new_df_2.groupby([new_df_2['Date'].dt.isocalendar().year, new_df_2['Date'].dt.isocalendar().week]).agg(logic)
weekly_data

             Bitcoin       Date
year week
2015 1     32.500000 2015-01-01
     2     37.571429 2015-01-05
     3     43.857143 2015-01-12
     4     33.714286 2015-01-19
     5     38.285714 2015-01-26
...              ...        ...
2022 32    59.714286 2022-08-08
     33    58.142857 2022-08-15
     34    56.571429 2022-08-22
     35    54.428571 2022-08-29
     36    58.000000 2022-09-05

[402 rows x 2 columns]

In [52]:
weekly_data.set_index('Date', inplace=True)
weekly_data

              Bitcoin
Date
2015-01-01  32.500000
2015-01-05  37.571429
2015-01-12  43.857143
2015-01-19  33.714286
2015-01-26  38.285714
...               ...
2022-08-08  59.714286
2022-08-15  58.142857
2022-08-22  56.571429
2022-08-29  54.428571
2022-09-05  58.000000

[402 rows x 1 columns]

In [53]:
weekly_data['Bitcoin'] = weekly_data['Bitcoin'].map(lambda x: '{0:.2f}'.format(x))
weekly_data

           Bitcoin
Date
2015-01-01   32.50
2015-01-05   37.57
2015-01-12   43.86
2015-01-19   33.71
2015-01-26   38.29
...            ...
2022-08-08   59.71
2022-08-15   58.14
2022-08-22   56.57
2022-08-29   54.43
2022-09-05   58.00

[402 rows x 1 columns]